.jumbotron {
  min-height: 200px;
}

*{
  font-family: Trebuchet MS, sans-serif;
}
#myNavbar {
  font-size: x-large
}
#mybrandbar {
  font-size: xx-large
}
.carousel-inner {
  max-height: 500px !important;
}
