#firstjumbo {
  min-height: 200px;
  background: rgba(28, 28, 38, 0.50) !important;
}

#mybrandbar {
  padding-top: 25px;
  font-size: 480%;
  font-family: 'Just Another Hand', cursive;
}

#myNavbar {
  padding-top: 10px;
  font-size: x-large;
  font-family: 'Bad Script', cursive;
}

#section2 {
  font-family: 'Bad Script', cursive;
}

#section3 {
  font-family: 'Bad Script', cursive;
}

#HCBcommentbox {
  font-family: 'Bad Script', cursive;
}

.carousel-inner {
  max-height: 700px !important;
  width: 100%;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-height: 500px !important;
  margin: auto
}
