#mybrandbar {
  padding-top: 25px;
  font-size: 480%;
  font-family: 'Just Another Hand', cursive;
}

#myNavbar {
  padding-top: 10px;
  font-size: x-large;
  font-family: 'Bad Script', cursive;
}
#brownies {
  background-image: url("classic-chocolate-brownies.jpg");
}
#oreos {
  background-image: url("oreo truffles.jpeg");
  background-size: cover;
  color: #6495ED;
}
#superfood {
  background-image: url("superfood.jpeg");
  background-size: cover;
  color: #DB7093;
}
