#mybrandbar {
  padding-top: 25px;
  font-size: 480%;
  font-family: 'Just Another Hand', cursive;
}

#myNavbar {
  padding-top: 10px;
  font-size: x-large;
  font-family: 'Bad Script', cursive;
}
#brownies {
  background-image: url("classic-chocolate-brownies.jpg");
  background-size: cover;
  border-style: dashed;
  border-width: 20px;
}
#oreos {
  background-image: url("oreo truffles.jpeg");
  background-size: cover;
  border-style: double;
  border-width: 20px;
  color: #fff;
}
#superfood {
  background-image: url("superfood.jpeg");
  background-size: cover;
  border-style: dotted;
  border-width: 30px;
  color: #fff;
}
